!! Xft.dpi:                96
Xft.antialias:          true
Xft.hinting:            full
*font:                  xft:Fira Code Medium:size=10

!urxvt
#include ".Xresources.d/urxvt"


! old color
#include ".Xresources.d/colors/mylight"
! new colors
! #include ".Xresources.d/colors/dark"
