* {
    padding: 1px;
    font-family: Hack Nerd Font Propo, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    border: none;
    border-radius: 0;
    min-height: 0;
    min-width: 0;
}

window#waybar {
    color: #edb54b;
    background: transparent;
    background-color: #0a0f14;
}

#workspaces button {
}

#workspaces button.focused {
    color: #edb54b;
}

#workspaces button.urgent {
   background-color: #550000;
}

#workspaces {
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

@keyframes blink {
    to {
        color: #000000;
    }
}

#battery {
    color: #edb54b;
    background-color: transparent;
}

#battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: 3;
    animation-direction: alternate;
}



#network.disconnected {
    background-color: #f53c3c;
}


#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    /* background-color: #eb4d4b; */
}

