[Desktop Entry]
Type=Application
Name=Spotify
GenericName=Music Player
Icon=spotify-client
Exec=/home/malbik/.local/share/spotify-launcher/install/usr/share/spotify/spotify --enable-features=--no-zygote --disable-gpu %U
Terminal=false
MimeType=x-scheme-handler/spotify;
Categories=Audio;Music;Player;AudioVideo;
StartupWMClass=spotify
